.searchcombo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #333;
    padding: 0.1%;
    border: 1px solid black;
    border-color: #1a1a1a;
    border-radius: 4px;
}

.searchcombo input[type="text"] {
    width: 95%;
    padding: 0.75%;
    background: #333;
    border: 0px;
    color: #dadada;
    font-size: 2rem;
    margin: 1px;
}

.searchcombo input[type="text"]:focus {
    outline: none !important;
}

.searchcombo i {
    font-size: 2rem;
    padding: 0.5%;
    background-color: #333;
}

.stationlist {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    max-width: 80%;
}

.item {
    display: flex;
    background-color: #333;
    width: 22.5%;
    justify-content: center;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
}

.item:hover {
    background-color: rgb(73, 73, 73);
}

.maintable {
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
}

.maintable h1 {
    margin-bottom: 0px;
    font-size: 3.5rem;
}

@media (max-width: 896px) {
    .item {
        width: 98%;
    }
    table {
        width: 90%;
    }
}

@media (max-width: 641px) {
    input[type="text"] {
        width: 85%;
    }
    table {
        width: 95%;
    }
}

.note {
    padding: 0.5%;
    text-align: right;
}
