@charset "utf-8";

table p {
    font-size: 1.5rem;
}

h1 {
    font-size: 2.5rem;
}

input[type="text"] {
    width: 100%;
    padding: 1%;
    margin: 1%;
}

select {
    padding: 1%;
    margin: 1.2%;
}

.stationlist {
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 75%;
    margin-bottom: 3%;
}

.stationlist a {
    color: white;
    text-decoration: none;
}
  
@media (max-width: 896px) {
    .stationlist {
        width: 99%;
    }
}