<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>Aral Tank-Preis Liste</title>
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ url_for('sitemap') }}">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% block head %}{% endblock %}
    <style>
        html, body {
            height: 100%;
        }

        @media (prefers-color-scheme: dark) {
          html {
            background-color: #343a40;
          }
        }
    </style>
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["disableCampaignParameters"]);
      _paq.push(["setDoNotTrack", true]);
      _paq.push(["disableCookies"]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://matomo.mein-auto-tanken.de/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
</head>
<body>
    {% block body %}
        <p>This is a Flask application.</p>
    {% endblock %}
</body>
</html>