<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>Aral Tank-Preis Liste</title>
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ url_for('sitemap') }}">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/htmx.js') }}" defer></script>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% block head %}{% endblock %}
    <style>
        html, body {
            height: 100%;
        }

        @media (prefers-color-scheme: dark) {
          html {
            background-color: #343a40;
          }
        }
    </style>
</head>
<body>
    {% block body %}
        <p>This is a Flask application.</p>
    {% endblock %}
</body>
</html>