{% extends 'base.html' %}

{% block body %}
<h1 class="border text-center">Tankstellen: {{ station_count }}</h1>
<div class="container">
    <input type="text" class="w-100" placeholder="Stadt, Postleitzahl, Name" name="search" id="search" required
           hx-trigger="keyup changed delay:500ms" hx-target="#results" hx-swap="innerHTML" hx-get="{{ url_for('search') }}">
</div>
<div class="container pt-3">
    <table class="table table-hover">
        <tbody id="results"></tbody>
    </table>
</div>
{% endblock %}