{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='css/leaflet.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/cluster.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/pixi.js') }}"></script>
<script src="{{ url_for('static', filename='js/markercluster.js') }}"></script>

<style>
    #map {
        height: 100%;
    }
</style>
{% endblock %}

{% block body %}
<div id="map" style="width:100%"></div>
<script defer>
    var map = L.map('map',  { {% if disable_control %}zoomControl: false, {% endif %}maxBounds: [[{{bounds[0]}}, {{bounds[1]}}], [{{bounds[2]}}, {{bounds[3]}}]]}).setView({lon: {{ lng }}, lat: {{ lat }}}, {{ zoom }});

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    }).addTo(map);

    {% if not disable_control %}L.control.scale({imperial: true, metric: true}).addTo(map);{% else %}
    map.dragging.disable(), map.touchZoom.disable(), map.doubleClickZoom.disable(), map.scrollWheelZoom.disable(), map.boxZoom.disable(), map.keyboard.disable();
    if (map.tap) map.tap.disable();
    document.getElementById('map').style.cursor='default';
    {% endif %}

    var markers = L.markerClusterGroup();
    function markerOnClick(e) {
        {% if not disable_control %}
        window.location.href = `/station/${this.options.name}`;
        {% endif %}
    }

	const station_icon = L.icon({
        iconUrl: '/static/images/station.svg',
        iconSize: [40, 40],
        iconAnchor: [20, 20],
        popupAnchor: [-3, -76]
    });

    {% for station in tmp_stations %}
    var tmp_marker = L.marker([{{station[2]}}, {{station[3]}}], { icon: station_icon, name: "{{ station[0] }}" }).on('click', markerOnClick);
    {% if not disable_control %}tmp_marker.bindTooltip("{{ station[1] }}<br/>{{ station[4] }} {{ station[5] }}<br/>").openTooltip();{% endif %}
    markers.addLayer(tmp_marker);
    {% endfor %}

    map.addLayer(markers);
</script>
{% endblock %}
