{% extends 'base.html' %}

{% block body %}
<div class="container text-center">
    <div class="border border-1 m-1 mb-5">
        <h1>{{ local_station_data[0] }} {{ local_station_data[1] }}</h1>
        <h2>{{ local_station_data[2] }}</h2>
    </div>
    <table class="table">
        <thead>
            <tr>
                <td style="width:7.5%">Icon</td><td>Kraftstoff</td><td>Preis</td><td>letzte Preisänderung</td>
            </tr>
        </thead>
        <tbody>
        {% if not station_data.data[0].price.error %}
            {% for data in station_data.data %}
                <tr>
                    <th scope="row"><img class="img-fluid" src="https://external-content.duckduckgo.com/iu/?u=https://api.tankstelle.aral.de{{ data.icon }}"></th>
                    <td>{{ data.name }}</td>
                    <td>{{ data.price.price | euro }}</td>
                    <td>{{ data.price.valid_from | strftime }} Uhr</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">Es gab ein problem beim Abrufen der Preise!</td>
            </tr>
            <tr>
                <td colspan="4">Fehlermeldung: {{ station_data.data[0].price.error }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <a href="{{ url_for('index') }}"><button type="button" class="btn btn-secondary mb-5">zurück</button></a>
</div>
{% endblock %}