.stationlist {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  max-width: 80%;

  a {
    display: flex;
    background-color: #333;
    width: 22.5%;
    justify-content: center;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;

    &:hover {
      background-color: rgb(73, 73, 73);
    }
  }
}

.station_count {
  margin-bottom: 1%;
  margin-top: 1%;
  text-align: center;

  &h1 {
    margin-bottom: 0px;
    font-size: 3.5rem;
  }
}

@media (max-width: 896px) {
  .stationlist a {
      width: 98%;
  }
  table {
      width: 90%;
  }
}

@media (max-width: 641px) {
  table {
      width: 95%;
  }
}