.station_name {
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
  
    &h1 {
      margin-bottom: 0px;
      font-size: 3.5rem;
    }
}

td img {
    display: inline;
    width: 2em;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #929292;
    transition: all 0.2s linear;

    &:hover {
        color: white;
        background-color: black;
    }
}
